.garage-box {
    width: 400px;
    margin: auto;
    padding: 40px 20px;
}

.clickable {
    cursor: pointer;
}

.center {
    text-align: center;
}

.park-navbar {
    justify-content: normal;
}

.nav-right {
    margin-left: auto;
    display: flex;
}