.park-container {
    padding-top: 4%;
    padding-bottom: 4%;
}

.screen {
    height: auto;
    width: 100%;
}

.half-screen {
    padding: 10px;
}

.garage-box {
    width: 500px;
    margin: auto;
    padding: 40px 20px;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.center {
    text-align: center;
}

.park-navbar {
    justify-content: normal;
}

.nav-right {
    margin-left: auto;
    display: flex;
}