<!DOCTYPE html>
<html lang="en">
<head>
    <title>Park at UT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/main.css">
    {% if js %}
        <script type="text/javascript" src="/static/js/{{ js }}"></script>
    {% endif %}
</head>
<body>
<nav class="park-navbar navbar navbar-dark bg-primary justify-content-between">
    <p class="navbar-brand m-0 p-0">Park at UT</p>
    {% if admin_page %}
        <form name="Add Spot" method="get" action="/add_spot">
            <button type="submit" class="btn btn-primary btn-block">Add Spot</button>
        </form>
        <form name="Remove Spot" method="get" action="/remove_spot">
            <button type="submit" class="btn btn-primary btn-block">Remove Spot</button>
        </form>
        <form name="Remove Reservation" method="get" action="/remove_reservation">
            <button type="submit" class="btn btn-primary btn-block">Remove Reservation</button>
        </form>
    {% endif %}
    {% if show_logout %}
        <form name="logout" method="post" action="/logout">
            <button type="submit" class="btn btn-primary btn-block">Log out</button>
        </form>
    {% endif %}
</nav>
<br/>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>