<!DOCTYPE html>
<html lang="en">
<head>
    <title>Park at UT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% if js %}
        <script type="text/javascript" src="/static/js/{{ js }}"></script>
    {% endif %}
</head>
<body>
<nav class="park-navbar navbar navbar-dark bg-primary">
    <form method="get" action="/status">
        <button type="submit" class="navbar-brand btn btn-primary">Park at UT</button>
    </form>
    {% if admin_page %}
        <form method="get" action="/add_spot">
            <button type="submit" class="btn btn-primary">Add Spot</button>
        </form>
        <form method="get" action="/remove_spot">
            <button type="submit" class="btn btn-primary">Remove Spot</button>
        </form>
        <form method="get" action="/remove_reservation">
            <button type="submit" class="btn btn-primary">Remove Reservation</button>
        </form>
        <form method="get" action="/remove_user">
            <button type="submit" class="btn btn-primary">Remove User</button>
        </form>
    {% endif %}
    <div class="nav-right">
        {% if info_page is undefined %}
            <form method="get" action="/info">
                <button type="submit" class="btn btn-primary">Info</button>
            </form>
        {% endif %}
        {% if about_page is undefined %}
            <form method="get" action="/about">
                <button type="submit" class="btn btn-primary">About</button>
            </form>
        {% endif %}
        {% if show_register %}
            <form method="get" action="/register">
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        {% endif %}
        {% if show_logout %}
            <form method="post" action="/logout">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        {% endif %}
    </div>

</nav>
<div class="container park-container">
    {% block content %}{% endblock %}
</div>
</body>
</html>