<!DOCTYPE html>
<html lang="en">
<head>
    <title>Park at UT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    {% if js %}
        <script type="text/javascript" src="/static/js/{{ js }}"></script>
    {% endif %}
</head>
<body>
<nav class="park-navbar navbar navbar-dark bg-primary justify-content-between">
    <p class="navbar-brand m-0 p-0">Park at UT</p>
    {% if show_logout %}
        <form name="logout" method="post" action="/logout">
            <button type="submit" class="btn btn-primary btn-block">Log out</button>
        </form>
    {% endif %}
</nav>
<br/>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>