{% extends "base.html" %}

{% block content %}

    <form action="/remove_reservation" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Reservations</label>
            {% for reservation in data %}
                <br>
                <input type="radio" name="reservation_id" id={{ reservation.spot_location }} value={{ reservation.id }} />
                <label for={{ reservation.spot_location }}>{{ reservation.spot_location }} expiring at {{ reservation.time }}</label>
            {% endfor %}
        </div>

        {% if success %}
            <p style="color: green;">Removed reservation successfully!</p>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-block" {% if data is not defined or data|length == 0 %}disabled{% endif %}>Remove</button>
    </form>

{% endblock %}